body{
    font-family: verdana;
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShpx5yfq2pZY0xh5VYWiLYC9Cym5Q5IHmaGQ&s);
    
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(106, 171, 255);
    transition: background-color 0.25s;
}
label{
    font-size: 3em;
}
#myButton:hover{
    background-color: blue;
}